## Tuples

In [1]:
t = () 
# it is a way to declare tuple

In [3]:
type(t)

tuple

In [19]:
t1= (1,2,3,4,4,45+7j,"sudh", True)

In [5]:
#It extracts data similar to list as it also has indexing as list staring from zero

In [6]:
t1[0]

1

In [7]:
t1[7]

True

In [8]:
#Reverse the tuple

In [20]:
t1[::-1]

(True, 'sudh', (45+7j), 4, 4, 3, 2, 1)

In [10]:
#unless we are assigning the tuple to a new variable or same variable, the original tuple will be as it is

In [12]:
t1=t1[::-1]

In [13]:
#Slicing operation for fetching multiple values from tuple

In [15]:
t1[0:3]

(True, 'sudh', (45+7j))

In [17]:
#methods for tuples
#1- Count
#2- Index

In [21]:
#Count
t1.count(4)
#It counts the value in the tuple and how many times it got repeated

2

In [22]:
t1.count("abc")

0

In [26]:
#Index
t1.index(1)
#Note : in the list we have 1 at 8th position but answer is 0 , it is because the first element is 'true' and python is identifying true as 1

0

In [27]:
t1.index("sudh")

6

In [28]:
t1.count(True)
#Answer should be 1 but it is giving 2 because we have True which is being considered as 1 and we have also a 1 in the Tuple

2

In [29]:
## Major differences between tuple and a list

In [30]:
L = [1,2,3,4]

In [31]:
t1

(1, 2, 3, 4, 4, (45+7j), 'sudh', True)

In [32]:
#Mutability & Immutabliity

In [34]:
#1 Trying a assign a new element to a tuple index

In [35]:
t1[0] = 345

TypeError: 'tuple' object does not support item assignment

In [36]:
#Can't assign a new element to a tuple as it is immutable
#### Making changes at index level is not possible but if we try item assignment in tuple it is possible

In [38]:
L[0] = 345

In [39]:
L
#List is mutable

[345, 2, 3, 4]

In [40]:
t1

(1, 2, 3, 4, 4, (45+7j), 'sudh', True)

In [43]:
for i in t1:
    print(i)

1
2
3
4
4
(45+7j)
sudh
True

In [45]:
for i in t1:
    print(i ,'-', type(i))

1 - <class 'int'>
2 - <class 'int'>
3 - <class 'int'>
4 - <class 'int'>
4 - <class 'int'>
(45+7j) - <class 'complex'>
sudh - <class 'str'>
True - <class 'bool'>

In [46]:
t2 = (1,2,3,4,5)

In [47]:
t2*3 
#Printing 3 times the tuple

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [48]:
max(t2)

5

In [49]:
min(t2)

1

In [50]:
#Created Multiple Tuple and adding them into 1
## Keeping tuples inside tuple

In [51]:
t3 = (t1,t2)

In [52]:
t3

((1, 2, 3, 4, 4, (45+7j), 'sudh', True), (1, 2, 3, 4, 5))

In [53]:
#We can keep list and tuple together

In [54]:
t3 = (t2,L)

In [55]:
t3

((1, 2, 3, 4, 5), [345, 2, 3, 4])

In [56]:
del t3

In [57]:
t3

NameError: name 't3' is not defined

In [58]:
len(t2)
#Total no of elements inside a tuple

5

In [59]:
##If Else can be applied in tuple

In [60]:
"sudh" in t1
# finding element is n no of elements in list

True

In [61]:
"abc" in t1

False

## Set

In [2]:
s = {}

In [3]:
type(s)

dict

In [4]:
s1 ={1,2,3,4,5}

In [5]:
type(s1)

set

In [6]:
##IMPORTANT
#When we declare curly braces with no value in it, it will be dictionary
#Whwn we have value in curly braces then it is SET

In [7]:
s2 = {1,1,12,3,3,3,4,5,55,523,34,3,45,6,67}

In [8]:
s2

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [9]:
## It prints only unique values from the provided data

In [15]:
#How to convert a set into a list
l = list(s2)

In [13]:
#How to convert a set into a tuple
tuple(s2)

(1, 34, 3, 4, 5, 6, 67, 523, 12, 45, 55)

In [16]:
#How to convert a list to set
set(l)

{1, 3, 4, 5, 6, 12, 34, 45, 55, 67, 523}

In [18]:
#can we store a list inside a set
s4 = {1,2,3,4,[1,2,3,4]}
#unhashable type: 'list' Error : All the immutable DataStructures have been provided with a hash index which uniquely identifies them.

TypeError: unhashable type: 'list'

In [19]:
##Important 
# We can't store list in set as it is mutable. However, we can store tuples as it is immutable

In [20]:
##Storing a tuple into set
s5= {1,2,3,4,(1,2,3,4)}

In [21]:
s5
#Tuple is being stored in set

{(1, 2, 3, 4), 1, 2, 3, 4}

In [22]:
#Storing strings inside tuples
#Storing string is case sensitive
s7 = {"sudh","Sudh",2,3,4}

In [23]:
s7

{2, 3, 4, 'Sudh', 'sudh'}

In [24]:
s7 = {"sudh","sudh",2,3,4}

In [25]:
s7

{2, 3, 4, 'sudh'}

In [26]:
##Important
#Can't apply Index extraction /slicing function here
#'set' object is not subscriptable
#System doesn't hold the set into a sequenctial order as it seems, so can't apply slicing
s7[0]

TypeError: 'set' object is not subscriptable

In [27]:
s7[0:1]

TypeError: 'set' object is not subscriptable

In [28]:
s7[::-1]

TypeError: 'set' object is not subscriptable

In [29]:
#For Loop
#For loop can be applied to hashable type of element
for i in s7:
    print(i)

2
3
sudh
4

### Functions in Set

In [ ]:
#Add Function
s7

In [31]:
s7.add(34)

In [32]:
s7

{2, 3, 34, 4, 'sudh'}

In [33]:
s7.add(2)

In [34]:
s7
#2 is not added in the set as it is already present

{2, 3, 34, 4, 'sudh'}

In [35]:
#Len
len(s7)

5

In [36]:
#Pop : it removes elements according to hash index not the sequence in which it is declared.
#raises an error when the set is empty
s7.pop()

34

In [37]:
s7.pop()

2

In [38]:
s7.pop()

3

In [39]:
s7.clear()

In [40]:
s7

set()

In [43]:
# Difference function
s8 = {1,2,3,4}
s9 = {1,2,3,5}

In [44]:
s8.difference(s9)

{4}

In [45]:
s9.difference(s8)

{5}

## Dictionary

In [46]:
d = {}

In [47]:
type(d)

dict

In [48]:
# dictionary is created in the form of key and value
d1 = {"name" : "Anushka", "Email" : "anushka.24@gmail.com", "M-Number" : "965438"}

In [49]:
d1

{'name': 'Anushka', 'Email': 'anushka.24@gmail.com', 'M-Number': '965438'}

In [50]:
# Key should always be unique
# DataType of key and value can be anything and in any combination

In [51]:
d2 = {"name" : "anu" ,"name": "Anushka"}

In [52]:
d2

{'name': 'Anushka'}

In [53]:
d3 = {1232223 : "ansha"}
#Can take number as a key

In [54]:
d3

{1232223: 'ansha'}

In [59]:
d4 = {234.56 : "Apple"}

In [57]:
d5 = {True : "ok"}

In [58]:
d5

{True: 'ok'}

In [60]:
#Can't take Special Characters as key, if taken in double quotes, can be used
d6 = {# : "abc"}

SyntaxError: incomplete input (36680248.py, line 1)

In [61]:
d7 = {@ : "abc"}

SyntaxError: invalid syntax (630726308.py, line 1)

In [62]:
d8 = {[12,23,34] : "abc"}
#Can't take list as key

TypeError: unhashable type: 'list'

In [63]:
d9 = {(12,2,3) : "abc"}

In [64]:
d9

{(12, 2, 3): 'abc'}

In [65]:
d10 = {{1,2,2} : "Abc"}

TypeError: unhashable type: 'set'

In [66]:
d11 = {{"key" :234} : "abc"}

TypeError: unhashable type: 'dict'

In [67]:
##IMPORTANT
#From a collection point of view, only tuples can be taken as a key

In [68]:
d12 = {"course_name" : ["data Science", "web dev", "Java with dsa"]}

In [69]:
d12
#Can take list as a value

{'course_name': ['data Science', 'web dev', 'Java with dsa']}

In [70]:
d13 = {"key" : (1,2,3,4)}

In [71]:
d13
#Can take tuple as a value

{'key': (1, 2, 3, 4)}

In [73]:
d14 = {"key": {1,2,3,5}}
#Can take set as a value

In [18]:
d15 = {"key": {"name" : "anushka", "class" : 'DSM'}}
#Can take dictionary as a value [Nested dictionary]

In [2]:
d16 = {"batch_name" : ["data science masters", "web dev", "JDS"], "start_date" :(28,14,21), "Mentor_name" : {"Sudhanshu","Krish","Hitesh","Anurag","Navin","Haider"}}

In [3]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'Mentor_name': {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'}}

In [4]:
d16["timing"] = (8,8,8)

In [5]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'Mentor_name': {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'},
 'timing': (8, 8, 8)}

In [6]:
#Extract first element value

In [7]:
d16["batch_name"]

['data science masters', 'web dev', 'JDS']

In [8]:
d16['Mentor_name']

{'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'}

In [9]:
type(d16['Mentor_name'])

set

In [11]:
d16['key']
#error when key is not found in the dictionary

KeyError: 'key'

In [12]:
d16['name'] = "anushka"

In [13]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'Mentor_name': {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'anushka'}

In [14]:
d16['name']

'anushka'

In [16]:
d16['name'].upper()

'ANUSHKA'

In [17]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'Mentor_name': {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'anushka'}

In [19]:
d15
# Extracting a value from a nested dictionary

{'key': {'name': 'anushka', 'class': 'DSM'}}

In [21]:
d17 = d15['key']

In [24]:
d17['class']

'DSM'

In [25]:
# Another way

In [26]:
d15['key']['class']

'DSM'

In [36]:
#Add a key value
d15['key1'] = "abc"

In [37]:
d15

{'key': {'name': 'anushka', 'class': 'DSM'}, 'key1': 'abc'}

In [38]:
#delete a pair from dict
del d15['key1']

In [39]:
d15

{'key': {'name': 'anushka', 'class': 'DSM'}}

In [40]:
d15.clear()

In [41]:
d15

{}

In [43]:
len(d16)

5

In [44]:
d16.keys()
#Will give all the keys in the dictionary

dict_keys(['batch_name', 'start_date', 'Mentor_name', 'timing', 'name'])

In [45]:
d16.values()

dict_values([['data science masters', 'web dev', 'JDS'], (28, 14, 21), {'Krish', 'Navin', 'Anurag', 'Hitesh', 'Sudhanshu', 'Haider'}, (8, 8, 8), 'anushka'])

In [47]:
#Convert the above value tuple into list
list(d16.values())

[['data science masters', 'web dev', 'JDS'],
 (28, 14, 21),
 {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'},
 (8, 8, 8),
 'anushka']

In [48]:
#Extract a list of both key & value pair
d16.items()

dict_items([('batch_name', ['data science masters', 'web dev', 'JDS']), ('start_date', (28, 14, 21)), ('Mentor_name', {'Krish', 'Navin', 'Anurag', 'Hitesh', 'Sudhanshu', 'Haider'}), ('timing', (8, 8, 8)), ('name', 'anushka')])

In [49]:
list(d16.items())

[('batch_name', ['data science masters', 'web dev', 'JDS']),
 ('start_date', (28, 14, 21)),
 ('Mentor_name',
  {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'}),
 ('timing', (8, 8, 8)),
 ('name', 'anushka')]

In [50]:
# create a replica of a dictionary
d17 = d16.copy()

In [51]:
d17
#deep copy of d16
# it is a deep copy , a new memory is created to store the dictionary. Any changes to d16 will not affect d18

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'Mentor_name': {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'},
 'timing': (8, 8, 8),
 'name': 'anushka'}

In [52]:
#Another way 
d18 = d16
# here the same dict is stored in the same memory. Any changes to d16 will affect d18

In [53]:
del d16["name"]

In [54]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'Mentor_name': {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'},
 'timing': (8, 8, 8)}

In [55]:
d18
#Swallow copy of d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'Mentor_name': {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'},
 'timing': (8, 8, 8)}

In [56]:
# Name is not available in both d16 & d18

In [57]:
d16.pop()

TypeError: pop expected at least 1 argument, got 0

In [58]:
d16.pop("timing")

(8, 8, 8)

In [59]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21),
 'Mentor_name': {'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'}}

In [60]:
d16.pop("Mentor_name")

{'Anurag', 'Haider', 'Hitesh', 'Krish', 'Navin', 'Sudhanshu'}

In [61]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21)}

In [62]:
#fromkeys : it is used to create multiple key value pair

In [68]:
d = {}

In [69]:
d.fromkeys((1,2,3) , ('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [71]:
d19 = {"key1" : "value1" , "key2" : "value2"}
d20 = {"key3" : "value3" , "key4" : "value4"}

In [72]:
# adding both dictionary into single tuple
(d19,d20)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [75]:
d19.update(d20)
# d19 copied the dic values into d20

In [76]:
d19

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [77]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [78]:
d20.update(d19)

In [79]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value1', 'key2': 'value2'}

In [80]:
#Get function

In [81]:
d20.get("sudh")

In [82]:
# Its not returning anything as sudh key is not present

In [83]:
d20.get("key3")

'value3'

In [84]:
#Another way to extarct value without get function
d20["key3"]

'value3'

## Dictionary Comprehension

In [85]:
# A dic where key can be 1-10, the values can be square of keys

In [88]:
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [89]:
{i : i+10 for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [93]:
import math
d21 ={i : math.log10(i) for i in range(1,11)}

In [91]:
d16

{'batch_name': ['data science masters', 'web dev', 'JDS'],
 'start_date': (28, 14, 21)}

In [92]:
'batch_name' in d16

True

In [94]:
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [97]:
for i in d21.keys():
    if(i%2==0):
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0