In [1]:
print("this is my prog")

this is my prog

In [2]:
l = [1,2,3,4]

In [3]:
len(l)

4

In [4]:
#these are built in functions

In [5]:
#How to create your own functions

In [6]:
def test():
    pass
    
#def- define the function

In [7]:
def test1():
    print("This is my first function")

In [8]:
test1()

This is my first function

In [9]:
test1() + "Anu"

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

 we are getting an error because in the "test1" function, we are using print function and print function always return 'NoneType' as datatype.
 We can't use any primitive operation on print function

In [10]:
def test2():
    return "this is my function"

In [11]:
test2()

'this is my function'

In [12]:
test2() + " Anushka"

'this is my function Anushka'

We are able to do a concatenation or other operation on return function because return function return the input as it is in the same format

 We should always use return function and not print function

In [34]:
def test3():
    return 1,2,"pwskills",3

In [35]:
test3()

(1, 2, 'pwskills', 3)

 It is possible to get multiple returns from a single function

It is similar to 
a = 1,2,3,4,5
a,b,c,d = 1,2,34.5,true [storing multiple datatypes]

In [15]:
a = 1,2,3,4,5

In [16]:
a,b,c,d = 1,2,34.5,True
# as test3 has multiple o/p, we can assign it to multiple variable

In [17]:
a

1

In [19]:
b

2

In [20]:
c

34.5

In [21]:
d

True

In [22]:
# return will always return in the form of tuple datatype, so we can extract the data index wise

In [23]:
test3()

(1, 2, 3, 'pwskills', 34.5, 987)

In [24]:
test3()[0]

1

In [25]:
test3()[1]

2

In [26]:
test3()[2]

3

We can assign a function to multiple variable

In [28]:
test3()

(1, 2, 3, 'pwskills', 34.5, 987)

In [36]:
a,b,c,d = test3()

In [8]:
# Passing a logic inside a function
def type4():
    a = 4*3+5
    return a

In [9]:
type4()

17

In [10]:
type(type4())

int

In [11]:
#Passing an argument inside a function
def test5(a,b):
    c = a + b
    return c

In [12]:
test5()

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

An error came up because we haven't passed the values of the argument inside function, when we are calling a function

In [13]:
#Number Addition
test5(5,7)

12

In [15]:
#Test Concatenation
test5("anushka","tripathi")

'anushkatripathi'

In [16]:
#List concatenation
test5([1,2,3,4] , [4,5,6,7])

[1, 2, 3, 4, 4, 5, 6, 7]

We can pass argument of any data type and perform the operation accordingly

# When we need to paas the second argument at the first place and vice versa
We need to declare the argument with its value inside the function as done below

In [18]:
test5(b = "tripathi", a = "kay")

'kaytripathi'

In [19]:
l = [1,2,3,4,"anu","pwskills",[1,2,3,4,5]]

Q- Create a function which will take list as a input and give me a final list with all the numeric value

In [20]:
def test6(a):
    n = []
    for i in a:
        if type(i) == int or type(i) == float:
            n.append(i)
    return n

In [21]:
test6(l)

[1, 2, 3, 4]

In [23]:
#extracting element from nested list which is mentioned above
def test7(a):
    n = []
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [24]:
test7(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5]

In [27]:
def test8(a,b,c,d,e):
    pass
#passing multiple arguments inside the function

In [28]:
test8(1,2,3,4,5)

In [29]:
test8(1,2,3,4,5,6,7,8)
#error occurred as more numbers are given than the arguments

TypeError: test8() takes 5 positional arguments but 8 were given

#create a function which can an any number of argument at run time

In [30]:
def test9(*args):
    return args

In [31]:
test9(2)

(2,)

In [32]:
test9("anu",[1,2,3,45],(1,2,3,4,5))

('anu', [1, 2, 3, 45], (1, 2, 3, 4, 5))

Here *args refer to n numbers of argument of any datatype

In [36]:
def test10(*anu):
    return anu

In [37]:
test10([1,2,3,4],"anu")

([1, 2, 3, 4], 'anu')

#here * - takes n no of arguments as inputs and return in the form of tuple. Anything after asterik is a variable name

In [38]:
# anoter argument with *

In [39]:
def test11(*args, a):
    return args, a

In [40]:
test11(2)

TypeError: test11() missing 1 required keyword-only argument: 'a'

#Correct way to call it:
test11(1,2,3,4,a= "sudh")
#here we have defined a

In [42]:
# pull the list from all the input arguments (if it is a combination list, dict, tuple)

In [44]:
def test12(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [46]:
test12(1,2,3,4,(1,2,3,4),"a","b","c",[123,56,77,6,9])

[[123, 56, 77, 6, 9]]

In [47]:
#Take input as key value pair argument

In [48]:
def test13(**kwargs):
    return kwargs

In [49]:
test13()

{}

In [50]:
type(test13())

dict

In [57]:
test13(a=34,b=23,c=[1,2,3,4], d =("sudh", "pwskils"))
#O/p

{'a': 34, 'b': 23, 'c': [1, 2, 3, 4], 'd': ('sudh', 'pwskils')}

In [60]:
def test14(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i]) == list :
            return i , kwargs[i]

In [61]:
test14(a=34,b=23,c=[1,2,3,4], d =("sudh", "pwskils"))

('c', [1, 2, 3, 4])

In [62]:
#N no number arguments with key value pair argument

In [63]:
def test15(*args, **kwargs):
    return args, kwargs

In [64]:
test15(2,2,3,4,a =34, b=45)

((2, 2, 3, 4), {'a': 34, 'b': 45})

In [65]:
test15(2,2,3,4)

((2, 2, 3, 4), {})

In [66]:
test15()

((), {})