In [1]:
#Capitalize
name = 'Data Science'
name.capitalize()

'Data science'

In [9]:
#Reverse function gives the id
list(reversed(name))

['e', 'c', 'n', 'e', 'i', 'c', 'S', ' ', 'a', 't', 'a', 'D']

In [3]:
' '.reversed(name)

AttributeError: 'str' object has no attribute 'reversed'

In [6]:
' '.join(reversed(name))

'e c n e i c S   a t a D'

In [7]:
''.join(reversed(name))

'ecneicS ataD'

In [8]:
'as'.join(reversed(name))

'eascasnaseasiascasSas asaastasaasD'

In [10]:
'krish'.join(reversed(name))
#It prints one letter of the variabe at a time then adds one letter from krish then move to other and same thing

'ekrishckrishnkrishekrishikrishckrishSkrish krishakrishtkrishakrishD'

In [12]:
len(' '.join('a'))

1

In [13]:
' '.join('abcd')

'a b c d'

In [14]:
' '.join('ant')

'a n t'

In [15]:
' '.join(reversed('ant'))

't n a'

In [16]:
' Pwskills '.join(reversed('ant'))

't Pwskills n Pwskills a'

In [17]:
list(reversed('ant'))
#It defaults return a string, we have converted it to string

['t', 'n', 'a']

In [18]:
str1 = "Pw is a good compaany"
'skills'.join(str1)

'Pskillswskills skillsiskillssskills skillsaskills skillsgskillsoskillsoskillsdskills skillscskillsoskillsmskillspskillsaskillsaskillsnskillsy'

In [20]:
for i in list(reversed('ant')):
    print(i,end=' ')

t n a

In [1]:
#Removing character from the end of the string

In [4]:
#Strip Function
#It strips the mention string from the variable as mentioned in the function
string_a = " pwskills "
string_a.strip(" ")

'pwskills'

In [8]:
string_a = " pwskills "
string_a.strip(" p ")

'wskills'

In [9]:
#There are two types of strip function
#1: lstrip - Removed the string from most left side of the string
#2.rstrip - Removed the string from most right side of the string

In [10]:
string_a.lstrip(" ")
#removed left space

'pwskills '

In [11]:
string_a.rstrip(" ")
#removed right space

' pwskills'

In [15]:
a = 'anter'
a.strip("n")

'anter'

In [18]:
#Replace a string
string_a = "Greeting to Pwskills"
string_a. replace("to","from")

'Greeting from Pwskills'

In [20]:
string_a = "Greeting to Pwskills"
string_a. replace("G","T")
#Here is it creating all togeter new string when replacing 'G' with 'T'
#It is not updating the value index wise and storing in the same variable but creating a new variable

'Treeting to Pwskills'

In [4]:
string_a = "Greeting to Pwskills"
var_a= string_a. replace("G","T")

In [5]:
print(id(string_a))
print(id(var_a))
#As we can see id is different of both variables

139963123159952
139962689556912

In [6]:
'Hello World'
string_n = "test@gmail.com"
var_a = string_n.replace("@"," ")
var_a

'test gmail.com'

In [7]:
'Hello \nWorld' 
#\n is for next line but it will not work as it is insode string quotes

'Hello \nWorld'

In [8]:
'Hello \tWorld'

'Hello \tWorld'

In [9]:
'Hello \tWorld'.expandtabs()
#\t means tab
#Another function for \t is expand tabs

'Hello   World'

In [10]:
str1= "Welcome to pwskills. Welcome to Dat cience Masters"
str1.replace("Dat cience", "Data Science")

'Welcome to pwskills. Welcome to Data Science Masters'

In [12]:
#Another method of writing
str1.replace("Dat","Data").replace("cience","Science")
#two replace

'Welcome to pwskills. Welcome to Data Science Masters'

In [13]:
str1.isupper()
#To check upper word is in uppercase

False

In [16]:
str_new1='SADETHMN'
str_new1.isupper()

True

In [17]:
str_new1.isspace()

False

In [18]:
' '.isspace()

True

In [19]:
if str1.isspace():
    print("Hello")
else:
    print("bye")

bye

In [20]:
#Practice
if ' '.isspace():
    print("Hello")
else:
    print("bye")

Hello

In [37]:
str2 = "pwskills"
str2.endswith('s')

True

In [22]:
str2.startswith('p')

True

In [25]:
#check if the string is alphanumeric
a="asd678"
a.isalnum()

True

In [30]:
# to count the number of character in the strings
count=0
for i in str2:
    count = count+1
    
print(count)
#parsing throught the string, through for loop then print count()

8

In [31]:
len(str2)

8

In [32]:
#Display one by one letter in a string(str2)
for i in str2:
    print(i)

p
w
s
k
i
l
l
s

In [36]:
#Another Method
for i in range(len(str2)):
    print (str2[i])

p
w
s
k
i
l
l
s

In [37]:
#Another Method
for i in range(len(str2)):
    print (i,"=",str2[i])

0 = p
1 = w
2 = s
3 = k
4 = i
5 = l
6 = l
7 = s

In [2]:
#We can use index to iterate string reverse direction
str_t = 'anushka tripathi'
for i in range(len(str_t)-1,-1,-1):
    print(str_t[i])

i
h
t
a
p
i
r
t

a
k
h
s
u
n
a

In [51]:
#Another Method
ch = len(str_t) -1
while ch>=0:
    print(str_t[ch])
    ch = ch -1

i
h
t
a
p
i
r
t

a
k
h
s
u
n
a

In [6]:
for i in range(len(str_t)-1,-1,-1):
    print(str_t[i])
    
#len - 1 , -1,-1 - Slicing

i
h
t
a
p
i
r
t

a
k
h
s
u
n
a

In [ ]:
ch = len(str_t) -1
while ch>=0:
    print(str_t[ch])
    ch = ch - 1 #to reduce the loop number

In [13]:
for i in range(len(str_t)):
    print(str_t[len(str_t) -(i+1)])

i
h
t
a
p
i
r
t

a
k
h
s
u
n
a

In [15]:
#To print in a single line
for i in range(len(str_t)-1,-1,-1):
    print(str_t[i],end = "")

ihtapirt akhsuna

In [30]:
#To check the characters is a vowel or not
name = "pwskills"
vowels = "AaEeIiOoUu"

for i in range(len(Name)):
    a =name[i]
    for j in range(len(vowels)):
        b = vowels[j]
        if a == b:
            print(name[i],"is a vowel")
        else:
            print(name[i],"is not a vowel")

p is not a vowel
p is not a vowel
p is not a vowel
p is not a vowel
p is not a vowel
p is not a vowel
p is not a vowel
p is not a vowel
p is not a vowel
p is not a vowel
w is not a vowel
w is not a vowel
w is not a vowel
w is not a vowel
w is not a vowel
w is not a vowel
w is not a vowel
w is not a vowel
w is not a vowel
w is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
k is not a vowel
k is not a vowel
k is not a vowel
k is not a vowel
k is not a vowel
k is not a vowel
k is not a vowel
k is not a vowel
k is not a vowel
k is not a vowel
i is not a vowel
i is not a vowel
i is not a vowel
i is not a vowel
i is not a vowel
i is a vowel
i is not a vowel
i is not a vowel
i is not a vowel
i is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
l is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel
s is not a vowel

In [27]:
#Good Practice - Direct Check
for i in name:
    if i in vowels:
        print('{} is a vowel'.format(i))
    else:
        print('{} is not a vowel'.format(i))

p is not a vowel
w is not a vowel
s is not a vowel
k is not a vowel
i is a vowel
l is not a vowel
l is not a vowel
s is not a vowel

## List

In [ ]:
#[] - This is how list is defined
# It is ordered collection of elements

In [31]:
print(type([]))

<class 'list'>

In [32]:
["ansolsw","BB",1,2,3,"L"]

['ansolsw', 'BB', 1, 2, 3, 'L']

In [33]:
list([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [38]:
list(str2)
#It is printing each character of string as a list

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [39]:
str1 = "pw skills Data Science Masters"
list(str1)

['p',
 'w',
 ' ',
 's',
 'k',
 'i',
 'l',
 'l',
 's',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e',
 ' ',
 'M',
 'a',
 's',
 't',
 'e',
 'r',
 's']

In [41]:
str1 = "pw skills Data Science Masters"
list(str1.split(" "))
#Return type of split when used with strings is list

['pw', 'skills', 'Data', 'Science', 'Masters']

In [43]:
type(str1.split(" "))
#Return type of split when used with strings is list

list

In [44]:
lst1 = str1.split(" ")

In [46]:
lst1[1:]
#Print every element after first one

['skills', 'Data', 'Science', 'Masters']

In [47]:
lst1[2] = 'Datas'
lst1
#Second index element is replace with Datas

['pw', 'skills', 'Datas', 'Science', 'Masters']

In [51]:
lst1[3]

'Science'

In [52]:
lst1[-2]

'Science'

In [53]:
lst1[::-2]
# Every second element from backwards

['Masters', 'Datas', 'pw']

In [54]:
lst1[-4]

'skills'

In [55]:
lst1[-5]

'pw'

In [59]:
lst1[-5::-2]

['pw']

In [60]:
## Concatenation Operation
lst1 + ['new element',3]

['pw', 'skills', 'Datas', 'Science', 'Masters', 'new element', 3]

In [61]:
lst1 + [['new element',3]]
#Adding a multilist element

['pw', 'skills', 'Datas', 'Science', 'Masters', ['new element', 3]]

In [63]:
lst2 = lst1 + [['new element',3]]

In [64]:
lst2[-1]

['new element', 3]

In [66]:
#multinested list
type(lst2[-1][0])
#Its first getting the last element of the list and then the zeroth element from the last element(list)
#Return type of this is String as it depends of the o/p value

str

In [67]:
#Not a inplace function
lst2*2

['pw',
 'skills',
 'Datas',
 'Science',
 'Masters',
 ['new element', 3],
 'pw',
 'skills',
 'Datas',
 'Science',
 'Masters',
 ['new element', 3]]

In [68]:
lst1

['pw', 'skills', 'Datas', 'Science', 'Masters']

In [87]:
#To find an elements
if "Science" in lst1:
    print("Available")

Available

In [88]:
for i in lst1:
    if i=="Science":
        print(i)
        break
    else:
        print("Not found")

Not found
Not found
Not found
Science

In [91]:
#Check element inside a list
lst = [1,2,3,4]
4 in lst
5 in lst

False

In [92]:
new = ["Zebra","Money","Donkey","Lion"]
new_2 = [5,6,2,9,5,8,6]

In [93]:
print(max(new))
#here it is taking the Ascii value of the first letter of the elements. Element having the highest Ascii value will be taken

Zebra

In [94]:
max(new_2)

9

In [95]:
min(new)

'Donkey'

In [96]:
min(new_2)

2

In [97]:
## Append
##It is a inplace operation

In [98]:
lst = [1,2,3,4,5]

In [99]:
lst

[1, 2, 3, 4, 5]

In [101]:
lst.append("Pw skills")

In [102]:
lst

[1, 2, 3, 4, 5, 'pw skills', 'Pw skills']

In [103]:
lst.append(["Data","Science","Masters"])
#It will become a multinested list

In [104]:
lst

[1, 2, 3, 4, 5, 'pw skills', 'Pw skills', ['Data', 'Science', 'Masters']]

In [11]:
dat = [1,2,3,4,5]

In [12]:
dat.append(["Pw","Skills"])

In [13]:
dat
# We need to add the above two strings seperately

[1, 2, 3, 4, 5, ['Pw', 'Skills']]

In [16]:
dat.extend(["Pw","Skills"])
#extend is used to add the elements seperately from the list

In [15]:
dat

[1, 2, 3, 4, 5, ['Pw', 'Skills'], 'Pw', 'Skills']

In [105]:
lst.pop()
#We have to give index in pop() if not it default deletes the last element of the list
#It is an inplace operation as it is updating list values

['Data', 'Science', 'Masters']

In [107]:
lst.pop(2)

3

In [108]:
lst

[1, 2, 4, 5, 'pw skills', 'Pw skills']

In [110]:
removed_element = lst.pop(2)
removed_element

5

In [111]:
lst[100]

IndexError: list index out of range

In [112]:
## Sorting and Reverse method in list

In [1]:
new_lista = ['p','a','c','m','n']

In [2]:
new_lista

['p', 'a', 'c', 'm', 'n']

In [3]:
new_lista[::-1]

['n', 'm', 'c', 'a', 'p']

In [5]:
#inplace
new_lista.reverse()
#It reverse the string

In [6]:
new_lista

['p', 'a', 'c', 'm', 'n']

In [7]:
new_lista.sort()

In [17]:
new_lista.sort(reverse = True)

In [18]:
new_lista

['p', 'n', 'm', 'c', 'a']

## Nested List

In [19]:
#Three list
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]

In [20]:
#Make a list of list to form a matrix
matrix =[list_1,list_2,list_3]

In [21]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
#to extract 6 from the list
matrix[1][2]

6

In [27]:
#to extract 8 & 9 from the list
matrix[2][1:]

[8, 9]

In [32]:
#to extract 1,4,7 (will learn later)
matrix[0][0]

(1, 1)

## List Compehension

In [35]:
[i for i in range (20)]
#read description in copy

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [36]:
#even numbers
[i if i%2==0 else "ODD" for i in range(20)]

[0,
 'ODD',
 2,
 'ODD',
 4,
 'ODD',
 6,
 'ODD',
 8,
 'ODD',
 10,
 'ODD',
 12,
 'ODD',
 14,
 'ODD',
 16,
 'ODD',
 18,
 'ODD']

In [7]:
#Question - Write a submission of even number at one variable and submission of odd number at other variable
lst = [1,2,3,4,5,6,7,8]

In [40]:
# Even Sum
sum([num if num%2==0 for num in lst])
#if we don't have a if condition then write if condition after for

SyntaxError: expected 'else' after 'if' expression (4066893398.py, line 1)

In [42]:
#Correct Syntax
Even_Sum = sum([num for num in lst if num%2==0])

20

In [45]:
#Odd Sum
Odd_Sum = sum([num for num in lst if num%2==1])
Odd_Sum

16

In [36]:
#Loop Method
lst = [1,2,3,4,5,6,7,8]
even_num = 0
odd_num = 0
for i in lst:
    if i%2==0:
        even_num += i
    else:
        odd_num += i
        
print(even_num)
print(odd_num)

20
16

In [46]:
#Find the square of the following list elements
lst = [1,2,3,4,5,6,7,8,9,10]
[(i)*(i) for i in lst]
#[(i)**2 for i in lst] - Another way

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
#Create a list of only the positive numbers from a given list
numbers = [-2,-1,0,1,2,3,4]
[num for num in numbers if num>0]

[1, 2, 3, 4]

In [51]:
#Create a list of only the first letters of words in a list
words = ['apple','banana','cherry','date']

In [55]:
[w[0] for w in words]
#direct write [0] as an index

['a', 'b', 'c', 'd']

In [59]:
#Convert a list of temperature from celsius to fahrenheit using List Comprehension
celsius_temp = [0,10,20,30,40,50]

In [57]:
#formula : 9/5*temp+32

In [60]:
[(9/5)*temp+32 for temp in celsius_temp]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [61]:
#Flatten a list of lists into a single list
list = [[1,2,3],[4,5,6],[7,8,9]]

In [65]:
[new_list for l in list for new_list in l]
#It is calling first the main list in l and then the main list(l) in new_list and extracting single letter

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Assignment 
#Using both code and list comprehension

#Q- Create a list only for prime numbers from a given list
#numbers = [1,2,3,4,5,6,7,8,9,10]

#Q- Create a list of all teh possible combinations of 2 elements from a list
#numbers = [1,2,3,4,5]