In [1]:
a=10

In [2]:
a

10

In [3]:
a = 'c'

In [4]:
a

'c'

In [6]:
# Type of a is string here (a has a single variable but in other programming languages it is char)
type(a)

str

### Print Function

In [8]:
print("hello world")

hello world

In [9]:
print(123)

123

In [11]:
#Another way to print a  statement
age = 26
print("My age is:",age)

My age is: 26

In [12]:
print ("My age is:",{age})

My age is: {26}

In [13]:
print ("My age is:,{age}")

My age is:,{age}

In [16]:
#fstring
print (f"My age is:{age}")

My age is:26

In [18]:
# format()
name = "Anushka"
age = 26
print("My name is {} and my age is {}".format(name,age))

My name is Anushka and my age is 26

In [19]:
print("My name is {firstname} and my age is {firstage}".format(firstname= name,firstage = age))

My name is Anushka and my age is 26

In [2]:
# Task
name = "Pikachu"
age = 24
degree = "BE"
print("My age is {new_age} and i have completed: my degree of {new_course} with the name of {new_name}".format(new_age = age,new_course=degree,new_name = name))

My age is 24 and i have completed: my degree of BE with the name of Pikachu

In [4]:
#Another way of writing the above code
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 24 and i have completed: my degree of BE with the name of Pikachu

## Control Flow
   #### Here, we are going to review and learn the most fundamentals of Python control flow: Decision making statement and    loops.

### 4.1 Decision Making Statements
 * It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
   * Structure of decision making evaluate several expressions that provide True or False as a result.
   * It is up to you to decide which type of action want to take and execute the statements based upon True and False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

## 1.If Statement

In [6]:
age = 18
if age>= 18:
    print("You are eligible to vote")

You are eligible to vote

In [8]:
age = 18
if age< 18:
    print("You are not eligible to vote")
# Nothing is coming as O/p because the condition is not satisfied

In [10]:
age = 17
if age< 18:
    print("You are not eligible to vote")

You are not eligible to vote

### Note: colon indicates starts of the if block

### Input Function

In [12]:
name = input("Enter your name")
age = input("Enter your age")

Enter your name Anushka
Enter your age 26

In [13]:
name,age

('Anushka', '26')

In [14]:
type(name),type(age)

(str, str)

### Default datatype of input function is 'String', so, we have to typecast the integer number after taking the inputs

In [15]:
age = int(input("Enter your age"))

Enter your age 26

In [17]:
type(age)
# age is now converted to integer from text

int

In [18]:
# Task 
# Take input of age
# check whether age >=18 and age <=45
# Display a message you are young blood

In [22]:
age = int(input("Enter your age"))
if age >=18 and age <=45:
    print("You are young blood")

Enter your age 26

You are young blood

In [23]:
age = int(input("Enter your age"))
if age >=18 and age <=45:
    print("You are young blood")
else:
    print("Thank you for applying, your application is rejected")

Enter your age 16

Thank you for applying, your application is rejected

In [24]:
## mall - input product price
## product >1000rs 20% off
## print the product price after discount
## product <=1000rs 30% off
## print the product price after discount

In [30]:
product_price = int(input ("Enter the price of the product"))
if product_price >1000:
    print(product_price - product_price*0.2)
elif product_price <=1000:
    print(product_price - product_price*0.3)

Enter the price of the product 1500

1200.0

In [31]:
product_price = int(input ("Enter the price of the product"))
if product_price >1000:
    print("The price of the product is {}".format(product_price - product_price*0.2))
elif product_price <=1000:
    print("The price of the product is {}".format(product_price - product_price*0.3))

Enter the price of the product 400

The price of the product is 280.0

In [32]:
## mall - input product price
## product >3000rs 20% off
## print the product price after discount
## product >=2000rs and <=3000 30% off
## print the product price after discount
## product <=1000rs and <=2000 40% off
## print the product price after discount

In [38]:
product_price = int(input ("Enter the price of the product"))
if product_price >3000:
    print("The price of the product is {}".format(product_price - product_price*0.2))
elif product_price >=2000 and product_price <=3000:
    print("The price of the product is {}".format(product_price - product_price*0.3))
elif product_price <=1000 and product_price <=2000:
    print("The price of the product is {}".format(product_price - product_price*0.4))

Enter the price of the product 4500

The price of the product is 3600.0

In [1]:
product_price= int(input("Enter the price of the product"))
if product_price>3000:
    print("The price of the product is {}".format(product_price - product_price*0.2))
elif product_price>=2000 and product_price<=3000:
    print("The price of the product is{}". format(product_price - product_price*0.3)) 
else: 
    print("The price of the product is{}". format(product_price - product_price*0.4))

Enter the price of the product 240

The price of the product is144.0

In [8]:
#Single Statement 
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number 56

Value is less than equal to 999

In [9]:
## Loops Statement
#1. While loops
#2. For Loops
#3. Nested Loops
#4. Loop Control(break,continue & pass)
# While loop
joining_age = 25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age) 
else:
    print("its time to retire")
#Note :Try to avoid conditions going to infinite loop

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
its time to retire

In [10]:
# ATM machine with 1000 rupees
total_amount = 1000
while total_amount != 0:
    total_amount = total_amount -100
    print(total_amount)
else:
    print("Put more money in the account")

900
800
700
600
500
400
300
200
100
0
Put more money in the account

In [11]:
#For Loops
#Note : It is generally used for iteration in containers such as list,dictionary & tuples
lst= ["Krish",1,2,3,"apple","bnana"]
print(type(lst))

<class 'list'>
apple
['Krish', 1, 2, 3, 'apple', 'bnana']

In [ ]:
print(lst[4])

In [ ]:
print(lst)

In [ ]:
#basic syntax
for x in lst:
    print(x)

In [12]:
fruits =["apple","banana","grapes","kiwi","orange"]
for a in fruits:
    print(a)
    if a == "kiwi":
        print("The fruit is kiwi")

apple
banana
grapes
kiwi
The fruit is kiwi
orange

In [13]:
#for next line use end=''
for a in fruits:
    print(a,end ='')
fruit = 'mango'
for x in fruit:
        print(x)
# all the letters in the fruit variable are print seperatly
#String is also a collection of elements and we can use indexing here also

applebananagrapeskiwiorangem
a
n
g
o

In [14]:
#Nested Loops #range(start,stop,step) (last element -1)
for i in range(1,6):
    print(i)

1
2
3
4
5
1
3
5

In [21]:
#by default the step size is 1 
for i in range(1,6,2):
    print(i)

1
3
5

In [22]:
###  Nested loops
n=7

In [23]:
## range
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [24]:
for i in range(0,7,2):
    print(i)

0
2
4
6

In [25]:
#Nested Loops 
n = 8
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")
    #\r = move to next line to the leftmost side
    #\n = will print same but with a line gap Assignment * * * * * * * * * * * * * * *

*
**
***
****
*****
******
*******
********

In [26]:
# Online Python compiler (interpreter) to run Python online.
# Write Python 3 code in this online editor and run it.
# Loop Control
#Break and continue
fruits =["apple","banana","grapes","kiwi","orange"]
print("BREAK")
for i in fruits:
    
    if i == "kiwi":
        print("The fruit is kiwi")
        break
        print(i)
        print("PASS")
        
        
        
        
    for i in fruits:
        if i == "kiwi":
            print("The fruit is kiwi")
            pass
            print(i)
        print("CONTINUE")
        
        
        
        
        for i in fruits:
            if i == "kiwi":
                print("The fruit is kiwi")
                continue
                print(i)
                # In break, the loop got over when the element is found,
                #In continue, the loop worked as normal whereas in continue, it is skipped the element we were searching for

BREAK
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
The fruit is kiwi
kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
The fruit is kiwi
kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
The fruit is kiwi
kiwi
CONTINUE
The fruit is kiwi
CONTINUE
The fruit is kiwi
The fruit is kiwi

In [ ]:
##Loop controls
## Break and continue
## In break, the loop got over when the element is found,
##In continue, the loop worked as normal whereas in continue, it is skipped the element we were searching for
fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"]

In [ ]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        break
    print(i)

In [ ]:
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        pass
    print(i)

In [ ]:
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is apple")
        continue
    print(i)